.menu_bg{
    height: 70px;
    background-color: #1C1E53;
}
.menu_nav a{
    color: #BBBBCB !important;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    padding: 0 25px !important;
    text-decoration: none;
}
.contact a{
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 16px 48px;
    border: 1px solid #F4F6FC;
    border-radius: 41px;
    -webkit-border-radius: 41px;
    -moz-border-radius: 41px;
    -ms-border-radius: 41px;
    -o-border-radius: 41px;
}