#delivery{
    padding: 100px 0;
    background: rgba(252, 217, 128, 0.10);
}
.delivery_img img{
    width: 100%;
}
.delivery_text{
    margin-top: 35px;
}
.delivery_text h5{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 32px;
    font-weight: 500;
    color: #000000;
    opacity: 0.87;
}
.delivery_text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    line-height: 56px;
    font-weight: 600;
    color: #232536;
}
.delivery_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #282938;
    opacity: 0.6;
}