#contact{
    padding: 120px 0 80px 0;
}
.contact_text{
    text-align: center;
}
.contact_text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 64px;
    color: #282938;
}
.contact_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    padding: 0 390px;
}

.form_main{
    padding: 55px 77px;
    background-color: #F4F6FC;
    display: flex;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}
.form_main label{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.form_main input{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
}
.msg{
    resize: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
}
.form_btn{
    margin-top: 25px;
}
.btn{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    color: #F4F6FC;
    padding: 15px 51px;
    border-radius: 41px;
    background: var(--Dark-blue, #282938);
}