#features{
    padding: 128px 0;
    background-color: #F4F6FC;
}
.features_text{
    text-align: center;
}
.features_text h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    color: #282938;
}
.features_text h3{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 64px;
    color: #282938;
}

.features_card{
    margin-top: 24px;
}

.features_card1{
    padding: 45px 10px 40px 48px;
    background-color: #FFFFFF;
}
.features_card1 i{
    font-size: 32px;
    color: #2405F2;
}
.features_card1 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #282938;
    margin-top: 22px;
}
.features_card1 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    margin-top: 12px;
}
.features_card2{
    padding: 45px 10px 40px 48px;
    background-color: #FFFFFF;
}
.features_card2 i{
    font-size: 32px;
    color: #2405F2;
}
.features_card2 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #282938;
    margin-top: 22px;
}
.features_card2 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    margin-top: 12px;
}
.features_card3{
    padding: 45px 10px 40px 48px;
    background-color: #FFFFFF;
}
.features_card3 i{
    font-size: 32px;
    color: #2405F2;
}
.features_card3 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    font-weight: 500;
    line-height: 36px;
    color: #282938;
    margin-top: 22px;
}
.features_card3 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    margin-top: 12px;
}
.features_card4{
    padding: 45px 10px 40px 48px;
    background-color: #FFFFFF;
    margin-top: 24px;
}
.features_card4 i{
    font-size: 32px;
    color: #2405F2;
}
.features_card4 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #282938;
    margin-top: 22px;
}
.features_card4 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    margin-top: 12px;
}
.features_card5{
    padding: 45px 10px 40px 48px;
    background-color: #FFFFFF;
    margin-top: 24px;
}
.features_card5 i{
    font-size: 32px;
    color: #2405F2;
}
.features_card5 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #282938;
    margin-top: 22px;
}
.features_card5 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    margin-top: 12px;
}
.features_card6{
    padding: 45px 10px 40px 48px;
    background-color: #FFFFFF;
    margin-top: 24px;
}
.features_card6 i{
    font-size: 32px;
    color: #2405F2;
}
.features_card6 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    color: #282938;
    margin-top: 22px;
}
.features_card6 p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #282938;
    opacity: 0.7;
    margin-top: 12px;
}