#design{
    padding: 110px 0 0 0;
    position: relative;
}
.design_main{
    position: relative;
}
.design_main::after{
    position: absolute;
    content: '';
    left: 105px;
    bottom: 0;
    height: 2px;
    width: 82%;
    background-color: #282938;
    opacity: 0.3;
}
.design_text h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
    opacity: 0.8;
}
.design_text h1{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    line-height: 64px;
    font-weight: 600;
    color: #282938;
    padding-right: 25px;
}
.design_text p{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #282938;
    opacity: 0.7;
}
.design_img{
    padding: 60px 87px 65px 88px;
    background: linear-gradient(131deg, #F4EDE1 16.74%, #98B1C6 103.17%);
}

.design_text1{
    margin-top: 40px;
}
.design_text1 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #282938;
    opacity: 0.8;
}
.design_text1 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
}
.design_text2{
    margin-top: 40px;
}
.design_text2 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #282938;
    opacity: 0.8;
}
.design_text2 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
}
.design_text3{
    margin-top: 40px;
}
.design_text3 h5{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    color: #282938;
    opacity: 0.8;
}
.design_text3 h4{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #282938;
}